.line_after_nav {
    height: 3px;
    width: 750px;
    background-color: black;
    margin-left: 10px;
}

.nav__link__accountant {
    color: black;
    vertical-align: top;
    margin: 0 10px;

    text-decoration: none;


    transition: color .2s linear;
}

.nav__link__accountant:hover{

    color: #fce38a;

}

.edit_db_accountant {
    color: black;
    text-decoration: none;
}

.edit_db_accountant:hover {
    background: #974b4b; /* Цвет фона при наведении на ссылку курсора */
    color: black; /* Новый цвет текста */
}


.add_product{

    margin-top: 20px;

}

.add_db_accountant {
    color: black;
    text-decoration: none;
}

.cap_btn {
    margin-top: 30px;
    margin-bottom: 40px;
}


.add_db_accountant:hover {
    background: #974b4b; /* Цвет фона при наведении на ссылку курсора */
    color: black; /* Новый цвет текста */
}


.choice_href {
    margin-left: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 450px) {

    .line_after_nav {
        height: 3px;
        width: 92%;
        background-color: black;
        margin-left: 10px;
    }


}
